<!doctype html>
<html lang="en">
<head>

    <meta property="og:title" content="where I am."/>
    <meta property="og:description" content="자기 주도! 마이 프로젝트"/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.png') }}"/>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200" rel="stylesheet">
    <style>
            body {
                background-image: url('https://source.unsplash.com/1600x900/?joyful,delightful');
                background-size: cover;
                min-height: 100vh;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }





    </style>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <style type="text/css">
            .tasksLine {
                margin-top: 5px;

            }

            .card-text {
                margin: 0 0 0 0;
            }

            .post-box {
                background-color: rgba(255, 255, 255, 0.1);
                width: 800px;
                margin: 20px auto;
                padding: 50px;
                border: grey 1px solid;
                border-radius: 5px;
            }

            .wrap {
                width: 1000px;
                margin: 20px auto;
            }
            .row {


            }






    </style>

    <script>
            $(document).ready(function () {
                alert('welcome to my project!')

                $("#proj").html("");

                viewProjects();

            });



            function openClose() {
                // id 값 post-box의 display 값이 block 이면(= 눈에 보이면)
                if ($("#post-box").css("display") == "block") {
                    // post-box를 가리고
                    $("#post-box").hide();
                    // 다시 버튼을 클릭하면, 박스 열기를 할 수 있게 텍스트 바꿔두기
                    $("#btn-post-box").text("만들기");
                } else {
                    // 아니면(눈에 보이지 않으면) post-box를 펴라
                    $("#post-box").show();
                    // 다시 버튼을 클릭하면, 박스 닫기를 할 수 있게 텍스트 바꿔두기
                    $("#btn-post-box").text("닫기");
                }
            }

<!--            function submitEdit() {-->
<!--                         let title = $("#title").val()-->
<!--                        let startDate = $("#startDate").val()-->
<!--                        let endDate = $("#endDate").val()-->
<!--                        let task1Name = $("#task1Title").val()-->
<!--                        let task2Name = $("#task2Title").val()-->
<!--                        let task3Name = $("#task3Title").val()-->
<!--                        let task4Name = $("#task4Title").val()-->
<!--                        let task5Name = $("#task5Title").val()-->
<!--                        let task1Progress = $("#task1Progress").val()-->
<!--                        let task2Progress = $("#task2Progress").val()-->
<!--                        let task3Progress = $("#task3Progress").val()-->
<!--                        let task4Progress = $("#task4Progress").val()-->
<!--                        let task5Progress = $("#task5Progress").val()-->

<!--                        if (title == '') {-->
<!--                            alert('프로젝트명을 입력해주세요.');-->
<!--                        } else if (startDate == '') {-->
<!--                            alert('시작일을 입력해주세요.');-->
<!--                        } else if (endDate == '') {-->
<!--                            alert('완료(목표)일을 입력해주세요.');-->
<!--                        } else if (task1Name == '') {-->
<!--                            alert('세부과제명을 입력해주세요.');-->
<!--                        } else {-->

<!--                    $.ajax({-->
<!--                        type: "POST",-->
<!--                        url: "/proj_edit",-->
<!--                        data: {-->
<!--                            "title_give": title,-->
<!--                            "start_date": startDate,-->
<!--                            "end_date": endDate,-->
<!--                            "task1_name": task1Name,-->
<!--                            "task2_name": task2Name,-->
<!--                            "task3_name": task3Name,-->
<!--                            "task4_name": task4Name,-->
<!--                            "task5_name": task5Name,-->
<!--                            "task1_progress": task1Progress,-->
<!--                            "task2_progress": task2Progress,-->
<!--                            "task3_progress": task3Progress,-->
<!--                            "task4_progress": task4Progress,-->
<!--                            "task5_progress": task5Progress-->

<!--                        },-->
<!--                        success: function (response) { // 성공하면-->
<!--                            if (response["result"] == "success") {-->
<!--                                // alert(response["msg"]);-->
<!--                                window.location.reload()-->
<!--                            } else {-->
<!--                                alert("서버 오류!")-->
<!--                            }-->
<!--                        }-->
<!--                    })-->
<!--            }-->

            function hideEdit() {
                    $("#edit-box").hide();
                    $("#edit-box").val()
            }

            function showEdit(title, task1name, task2name, task3name, task4name, task5name,
                                task1progress, task2progress, task3progress, task4progress, task5progress) {

                if ($("#edit-box").css("display") == "block") {
                    $("#edit-box").val();
                    editProject(title, task1name, task2name, task3name, task4name, task5name,
                    task1progress, task2progress, task3progress, task4progress, task5progress)

                } else {
                    $("#edit-box").show();
                    $("#edit-box").val();
                    editProject(title, task1name, task2name, task3name, task4name, task5name,
                    task1progress, task2progress, task3progress, task4progress, task5progress)

                    }
                }

            function editProject(title, task1name, task2name, task3name, task4name, task5name,
                                task1progress, task2progress, task3progress, task4progress, task5progress) {
                    $('#edit-title').val(title);
                    $('#edit-task1Title').val(task1name);
                    $('#edit-task2Title').val(task2name);
                    $('#edit-task3Title').val(task3name);
                    $('#edit-task4Title').val(task4name);
                    $('#edit-task5Title').val(task5name);
                    $('#edit-task1Progress').val(task1progress);
                    $('#edit-task2Progress').val(task2progress);
                    $('#edit-task3Progress').val(task3progress);
                    $('#edit-task4Progress').val(task4progress);
                    $('#edit-task5Progress').val(task5progress);

                    }



            function postProject() {

                let title = $("#title").val()
                let startDate = $("#startDate").val()
                let endDate = $("#endDate").val()
                let task1Name = $("#task1Title").val()
                let task2Name = $("#task2Title").val()
                let task3Name = $("#task3Title").val()
                let task4Name = $("#task4Title").val()
                let task5Name = $("#task5Title").val()
                let task1Progress = $("#task1Progress").val()
                let task2Progress = $("#task2Progress").val()
                let task3Progress = $("#task3Progress").val()
                let task4Progress = $("#task4Progress").val()
                let task5Progress = $("#task5Progress").val()

                if (title == '') {
                    alert('프로젝트명을 입력해주세요.');
                } else if (startDate == '') {
                    alert('시작일을 입력해주세요.');
                } else if (endDate == '') {
                    alert('완료(목표)일을 입력해주세요.');
                } else if (task1Name == '') {
                    alert('세부과제명을 입력해주세요.');
                } else {


                    $.ajax({
                        type: "POST",
                        url: "/project",
                        data: {
                            "title_give": title,
                            "start_date": startDate,
                            "end_date": endDate,
                            "task1_name": task1Name,
                            "task2_name": task2Name,
                            "task3_name": task3Name,
                            "task4_name": task4Name,
                            "task5_name": task5Name,
                            "task1_progress": task1Progress,
                            "task2_progress": task2Progress,
                            "task3_progress": task3Progress,
                            "task4_progress": task4Progress,
                            "task5_progress": task5Progress

                        },
                        success: function (response) { // 성공하면
                            if (response["result"] == "success") {
                                // alert(response["msg"]);
                                window.location.reload()
                            } else {
                                alert("서버 오류!")
                            }
                        }
                    })

                }
            }

            function viewProjects() {

                $.ajax({
                    type: "GET",
                    url: "/projects",
                    data: {},
                    success: function (response) {

                        console.log(response)

                        if (response["result"] == "success") {
                            // alert(response["msg"]);
                            let cardlist = response['projectList']

                            for (let i = 0; i < cardlist.length; i++) {
                                let title = cardlist[i]['title'];
                                let start_day = cardlist[i]['start_day'];
                                let end_day = cardlist[i]['end_day'];
                                let task1_name = cardlist[i]['task1_name'];
                                let task1_progress = cardlist[i]['task1_progress'];
                                let task2_name = cardlist[i]['task2_name'];
                                let task2_progress = cardlist[i]['task2_progress'];
                                let task3_name = cardlist[i]['task3_name'];
                                let task3_progress = cardlist[i]['task3_progress'];
                                let task4_name = cardlist[i]['task4_name'];
                                let task4_progress = cardlist[i]['task4_progress'];
                                let task5_name = cardlist[i]['task5_name'];
                                let task5_progress = cardlist[i]['task5_progress'];
                                let dday = cardlist[i]['left_day'];
                                addHTML(title, dday, task1_name, task1_progress, task2_name, task2_progress, task3_name, task3_progress, task4_name, task4_progress
                                    , task5_name, task5_progress);
                                                            }

                        }
                    }
                })
            }


            function addHTML(title, dday, task1_name, task1_progress, task2_name, task2_progress, task3_name, task3_progress, task4_name, task4_progress
                                    , task5_name, task5_progress) {
                let temphtml = makeProject(title, dday, task1_name, task1_progress, task2_name, task2_progress, task3_name, task3_progress, task4_name, task4_progress, task5_name, task5_progress);
                $("#proj").append(temphtml);
            }

            function makeProject(title, dday, task1_name, task1_progress, task2_name, task2_progress, task3_name, task3_progress, task4_name, task4_progress, task5_name, task5_progress)
            { return `


<div>
                <div class="row row-cols-1 row-cols-md-2">
<div class="col" style="margin: 0.5rem 1rem 1rem 1rem;">
<div class="card" style="width: 18rem; min-height: 25rem;">
<div id="card-body" class="card-body">

                            <h5 class="card-title"><b> ${title} </b></h5>
                            <h6>완료까지 <b style="color: coral">${dday}</b>일 남았어요!</h6>

                            <div class="progress" style="height: 1px;">
                                <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="tasksLine">
                                <p  class="card-text">${task1_name}</p>

                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar " role="progressbar" style="width: ${task1_progress}%;" aria-valuenow="${task1_progress}"

                                         aria-valuemin="0" aria-valuemax="100">${task1_progress}%
                                    </div>
                                </div>
                            </div>

                            <div class="tasksLine">
                                <p class="card-text">${task2_name}</p>

                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar " role="progressbar" style="width: ${task2_progress}%;" aria-valuenow="${task2_progress}"
                                         aria-valuemin="0" aria-valuemax="100">${task2_progress}%
                                    </div>
                                </div>
                            </div>

                            <div class="tasksLine">
                                <p class="card-text">${task3_name}</p>

                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar " role="progressbar"  style="width: ${task3_progress}%;" aria-valuenow="${task3_progress}"
                                         aria-valuemin="0" aria-valuemax="100">${task3_progress}%
                                    </div>
                                </div>
                            </div>

                            <div class="tasksLine">
                                <p  class="card-text">${task4_name}</p>

                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar " role="progressbar" style="width: ${task4_progress}%;" aria-valuenow="${task4_progress}"
                                         aria-valuemin="0" aria-valuemax="100">${task4_progress}%
                                    </div>
                                </div>
                            </div>

                            <div class="tasksLine">
                                <p class="card-text">${task5_name}</p>
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar " role="progressbar" style="width: ${task5_progress}%;" aria-valuenow="${task5_progress}"
                                         aria-valuemin="0" aria-valuemax="100">${task5_progress}%
                                    </div>
                                </div>
                            </div>

                            <Br>

                            <a id="" href="#" class="btn btn-primary" onclick="showEdit('${title}',
                            '${task1_name}','${task2_name}','${task3_name}','${task4_name}','${task5_name}',
                            ${task1_progress},${task2_progress},${task3_progress},${task4_progress},${task5_progress})">수정</a>
</div></div>
</div></div></div>
</div>
`

            }

    </script>

    <title>프로젝트 완성하기 _ 스코코10 _ 이숮이</title>
</head>

<body>
<div class="wrap">
    <div class="jumbotron">
        <h2 class="display-4">Where Am I?</h2>
        <p class="lead">자기 과제의 진척률을 관리하세요.</p>
        <hr class="my-4">
        <p> 내가 얼마나 달성했는지 한 눈에 볼 수 있어요.</p>
        <button onclick="openClose()" id="btn-post-box" type="button" class="btn btn-primary">만들기
        </button>
    </div>

    <div id="post-box" class="post-box" style="display:none">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">프로젝트명</span>
            </div>
            <input id="title" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">시작일</span>
            </div>
            <input id="startDate" type="date" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
            <div class="input-group-prepend">
                <span class="input-group-text">완료일</span>
            </div>
            <input id="endDate" type="date" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">

        </div>


        <div class="input-group-prepend">
            <span class="input-group-text">세부과제1</span>
            <input id="task1Title" type="text" class="form-control" placeholder="과제를 입력해주세요." aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">

            <select class="custom-select" id="task1Progress">
                <option value="" disabled selected hidden>어디까지 왔나요?</option>
                <option value="0">0</option>
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="80">80</option>
                <option value=100>100</option>
            </select>
            <div class="input-group-append">
                <label class="input-group-text" for="task1Progress">%</label>
            </div>
        </div>

        <div class="input-group-prepend">
            <span class="input-group-text">세부과제2</span>
            <input type="text" class="form-control" placeholder="과제를 입력해주세요." aria-label="Default" id="task2Title"
                   aria-describedby="inputGroup-sizing-default">
            <select class="custom-select" id="task2Progress">
                <option value="" disabled selected hidden>어디까지 왔나요?</option>
                <option value="0">0</option>
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="80">80</option>
                <option value=100>100</option>
            </select>
            <div class="input-group-append">
                <label class="input-group-text" for="task1Progress">%</label>
            </div>
        </div>
        <div class="input-group-prepend">
            <span class="input-group-text">세부과제3</span>
            <input type="text" class="form-control" placeholder="과제를 입력해주세요." aria-label="Default" id="task3Title"
                   aria-describedby="inputGroup-sizing-default">
            <select class="custom-select" id="task3Progress">
                <option value="0" disabled selected hidden>어디까지 왔나요?</option>
                <option value="0">0</option>
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="80">80</option>
                <option value=100>100</option>
            </select>
            <div class="input-group-append">
                <label class="input-group-text" for="task1Progress">%</label>
            </div>
        </div>
        <div class="input-group-prepend">
            <span class="input-group-text">세부과제4</span>
            <input type="text" class="form-control" placeholder="과제를 입력해주세요." aria-label="Default" id="task4Title"
                   aria-describedby="inputGroup-sizing-default">
            <select class="custom-select" id="task4Progress">
                <option value="0" disabled selected hidden>어디까지 왔나요?</option>
                <option value="0">0</option>
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="80">80</option>
                <option value=100>100</option>
            </select>
            <div class="input-group-append">
                <label class="input-group-text" for="task4Progress">%</label>
            </div>
        </div>
        <div class="input-group-prepend">
            <span class="input-group-text">세부과제5</span>
            <input type="text" class="form-control" placeholder="과제를 입력해주세요." aria-label="Default" id="task5Title"
                   aria-describedby="inputGroup-sizing-default">
            <select class="custom-select" id="task5Progress">
                <option value="" disabled selected hidden>어디까지 왔나요?</option>
                <option value="0">0</option>
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="80">80</option>
                <option value=100>100</option>
            </select>
            <div class="input-group-append">
                <label class="input-group-text" for="task5Progress">%</label>
            </div>
        </div>

        <br>
        <button type="button" class="btn btn-outline-dark" onclick="postProject()">만들기</button>
        </button>


    </div>
    <div>


    <div id="edit-box" class="post-box" style="display:none;">
    <h3 style="color:#007bff;"><b>프로젝트 수정하기 </b></h3>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">프로젝트명</span>
            </div>
            <input id="edit-title" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">시작일</span>
            </div>
            <input id="edit-start_day" type="date" class="form-control " aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
            <div class="input-group-prepend">
                <span class="input-group-text">완료일</span>
            </div>
            <input id="edit-end_day" type="date" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group-prepend">
            <span class="input-group-text">세부과제1</span>
            <input id="edit-task1Title" type="text" class="form-control" placeholder="과제를 입력해주세요." aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">

            <select id="edit-task1Progress" class="custom-select">
                <option value="0">0</option>
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="80">80</option>
                <option value=100>100</option>
            </select>
            <div class="input-group-append">
                <label class="input-group-text" for="task1Progress">%</label>
            </div>
        </div>

        <div class="input-group-prepend">
            <span class="input-group-text">세부과제2</span>
            <input type="text" class="form-control edit-task2Title" placeholder="과제를 입력해주세요." aria-label="Default"
                   id="edit-task2Title"
                   aria-describedby="inputGroup-sizing-default">
            <select id="edit-task2Progress" class="custom-select">
                <option value="0">0</option>
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="80">80</option>
                <option value=100>100</option>
            </select>
            <div class="input-group-append">
                <label class="input-group-text" for="task1Progress">%</label>
            </div>
        </div>
        <div class="input-group-prepend">
            <span class="input-group-text">세부과제3</span>
            <input type="text" class="form-control" placeholder="과제를 입력해주세요." aria-label="Default" id="edit-task3Title"
                   aria-describedby="inputGroup-sizing-default">
            <select id="edit-task3Progress" class="custom-select">
                <option value="0">0</option>
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="80">80</option>
                <option value=100>100</option>
            </select>
            <div class="input-group-append">
                <label class="input-group-text" for="task1Progress">%</label>
            </div>
        </div>
        <div class="input-group-prepend">
            <span class="input-group-text">세부과제4</span>
            <input type="text" class="form-control" placeholder="과제를 입력해주세요." aria-label="Default" id="edit-task4Title"
                   aria-describedby="inputGroup-sizing-default">
            <select id="edit-task4Progress" class="custom-select">
                <option value="0">0</option>
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="80">80</option>
                <option value=100>100</option>
            </select>
            <div class="input-group-append">
                <label class="input-group-text" for="task4Progress">%</label>
            </div>
        </div>
        <div class="input-group-prepend">
            <span class="input-group-text">세부과제5</span>
            <input type="text" class="form-control" placeholder="과제를 입력해주세요." aria-label="Default" id="edit-task5Title"
                   aria-describedby="inputGroup-sizing-default">
            <select id="edit-task5Progress" class="custom-select">
                <option value="0">0</option>
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="80">80</option>
                <option value=100>100</option>
            </select>
            <div class="input-group-append">
                <label class="input-group-text" for="task5Progress">%</label>
            </div>
        </div>

        <br>
        <div class="row2">
            <button type="button" id="submit" class="btn btn-light"
                    onclick="submitEdit()">저장
            </button>
            <button type="button" id="btn-edit-box-cancel" class="btn btn-secondary"
                    onclick="hideEdit()">취소
            </button>
        </div>


    </div>
    </div>
    <div id="proj" class="row">
    </div>
</div>

</body>
</html>