<!doctype html>
<html lang="en">
    <head>

        <meta property="og:title" content="where I am."/>
        <meta property="og:description" content="자기 주도! 마이 프로젝트"/>
        <meta property="og:image" content="{{ url_for('static', filename='ogimage.png') }}"/>

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200" rel="stylesheet">
        <style>
            body {
                background-image: url('https://source.unsplash.com/1600x900/?joyful,delightful');
                background-size: cover;
                min-height: 100vh;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        </style>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

        <style type="text/css">
            .tasksLine {
                margin-top: 5px;

            }

            .card-text {
                margin: 0 0 0 0;
            }

            .post-box {
                background-color: rgba(255, 255, 255, 0.1);
                width: 800px;
                margin: 20px auto;
                padding: 50px;
                border: grey 1px solid;
                border-radius: 5px;
            }

            .wrap {
                width: 800px;
                margin: 20px auto;
            }


        </style>

        <script>
            $(document).ready(function () {
                alert('다 로딩됐다!')

                $("#proj").html("");

                viewProjects();

                console.log()

            });

            function openClose() {
                // id 값 post-box의 display 값이 block 이면(= 눈에 보이면)
                if ($("#post-box").css("display") == "block") {
                    // post-box를 가리고
                    $("#post-box").hide();
                    // 다시 버튼을 클릭하면, 박스 열기를 할 수 있게 텍스트 바꿔두기
                    $("#btn-post-box").text("만들기");
                } else {
                    // 아니면(눈에 보이지 않으면) post-box를 펴라
                    $("#post-box").show();
                    // 다시 버튼을 클릭하면, 박스 닫기를 할 수 있게 텍스트 바꿔두기
                    $("#btn-post-box").text("닫기");
                }
            }


            function isValid() {

                if (title == '') {
                    alert('프로젝트명을 입력해주세요.');
                    return false;
                } else if (startDate == '') {
                    alert('시작일을 입력해주세요.');
                    return false;
                } else if (endDate == '') {
                    alert('완료(목표)일을 입력해주세요.');
                    return false;
                } else if (task1Name == '') {
                    alert('세부과제명을 입력해주세요.');
                    return false;
                } else {
                    return true;
                }
            }

            function postProject() {

                let title = $("#title").val()
                let startDate = $("#startDate").val()
                let endDate = $("#endDate").val()
                let task1Name = $("#task1Title").val()
                let task2Name = $("#task2Title").val()
                let task3Name = $("#task3Title").val()
                let task4Name = $("#task4Title").val()
                let task5Name = $("#task5Title").val()
                let task1Progress = $("#task1Progress").val()
                let task2Progress = $("#task2Progress").val()
                let task3Progress = $("#task3Progress").val()
                let task4Progress = $("#task4Progress").val()
                let task5Progress = $("#task5Progress").val()

                if (isValid() == false) {
                    return;
                }


                $.ajax({
                    type: "POST",
                    url: "/project",
                    data: {
                        "title_give": title,
                        "start_date": startDate,
                        "end_date": endDate,
                        "task1_name": task1Name,
                        "task2_name": task2Name,
                        "task3_name": task3Name,
                        "task4_name": task4Name,
                        "task5_name": task5Name,
                        "task1_progress": task1Progress,
                        "task2_progress": task2Progress,
                        "task3_progress": task3Progress,
                        "task4_progress": task4Progress,
                        "task5_progress": task5Progress,
                    },
                    success: function (response) { // 성공하면
                        if (response["result"] == "success") {
                            // alert(response["msg"]);
                            window.location.reload()
                        } else {
                            alert("서버 오류!")
                        }
                    }
                })


            }

            // function editProject(title) {
            //     if ($("#post-box").css("display") == "block") {
            //         // post-box를 가리고
            //         $("#post-box").hide();
            //         $("#btn-cancel").hide();
            //         // 다시 버튼을 클릭하면, 박스 열기를 할 수 있게 텍스트 바꿔두기
            //         $("#btn-update-box").text("수정");
            //
            //
            //     } else {
            //         // 아니면(눈에 보이지 않으면) post-box를 펴라
            //         $("#post-box").show();
            //         // 다시 버튼을 클릭하면, 박스 닫기를 할 수 있게 텍스트 바꿔두기
            //         $("#btn-cancel").show();
            //

                    //     // 기존 메모 내용을 가져온다.
                    //     let title = $("#title").text();
                    //     let startDate = $("#startDate").text();
                    //     let endDate = $("#endDate").text();
                    //     let task1Name = $("#task1Title").text();
                    //     let task2Name = $("#task2Title").text();
                    //     let task3Name = $("#task3Title").text();
                    //     let task4Name = $("#task4Title").text();
                    //     let task5Name = $("#task5Title").text();
                    //     let task1Progress = $("#task1Progress").text();
                    //     let task2Progress = $("#task2Progress").text();
                    //     let task3Progress = $("#task3Progress").text();
                    //     let task4Progress = $("#task4Progress").text();
                    //     let task5Progress = $("#task5Progress").text();
                    //
                    //     // 수정 입력 칸에 기존 값을 넣어둔다.
                    //     $(`#${title}-textarea`).val(title);
                    //     $(`#${startDate}-textarea`).val(startDate);
                    //     $(`#${endDate}-textarea`).val(endDate);
                    //     $(`#${task1Name}-textarea`).val(task1Name);
                    //     $(`#${task2Name}-textarea`).val(task2Name);
                    //     $(`#${task3Name}-textarea`).val(task3Name);
                    //     $(`#${task4Name}-textarea`).val(task4Name);
                    //     $(`#${task5Name}-textarea`).val(task5Name);
                    //     $(`#${task1Progress}-textarea`).val(task1Progress);
                    //     $(`#${task2Progress}-textarea`).val(task2Progress);
                    //     $(`#${task3Progress}-textarea`).val(task3Progress);
                    //     $(`#${task4Progress}-textarea`).val(task4Progress);
                    //     $(`#${task5Progress}-textarea`).val(task5Progress);
                    //
                    // }


                    // function submitEdit(title) {
                    //     let contents = $(`#${title}-textarea`).val();
                    //     if (isValidContents() == false) {
                    //         return;
                    //
                    //
                    //     }
                    //
                    //     $.ajax({
                    //         type: "POST",
                    //         url: "/project/edit",
                    //         data: {username_give: username, contents_give: contents},
                    //         success: function (response) {
                    //             if (response['result'] == 'success') {
                    //                 alert(response['msg']);
                    //                 window.location.reload();
                    //             } else {
                    //                 alert('변경에 실패했습니다.');
                    //             }
                    //         }
                    //     });
                    // }

                    function viewProjects() {

                        $("#proj").html("");

                        $.ajax({
                            type: "GET",
                            url: "/projects",
                            data: {},
                            success: function (response) {

                                console.log(response)

                                if (response["result"] == "success") {
                                    alert(response["msg"]);

                                    let cardlist = response['projectList']

                                    for (let i = 0; i < cardlist.length; i++) {
                                        let title = cardlist[i]['title']
                                        let start_day = cardlist[i]['start_day']
                                        let end_day = cardlist[i]['end_day']
                                        let task1_name = cardlist[i]['task1_name']
                                        let task1_progress = cardlist[i]['task1_progress']
                                        let task2_name = cardlist[i]['task2_name']
                                        let task2_progress = cardlist[i]['task2_progress']
                                        let task3_name = cardlist[i]['task3_name']
                                        let task3_progress = cardlist[i]['task3_progress']
                                        let task4_name = cardlist[i]['task4_name']
                                        let task4_progress = cardlist[i]['task4_progress']
                                        let task5_name = cardlist[i]['task5_name']
                                        let task5_progress = cardlist[i]['task5_progress']
                                        let dday = cardlist[i]['left_day']

                                        let temphtml = `
<div class="card" class="card-columns">
 <div id="card-body" class="card-body">
                            <h5 class="card-title">${title}</h5>
                            <h6>완료까지 <b style="color: coral">${dday}</b>일 남았어요!</h6>


                            <div class="progress" style="height: 1px;">
                                <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="tasksLine">
                                <p class="card-text">${task1_name}</p>

                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar " role="progressbar" style="width: ${task1_progress}%;" aria-valuenow="${task1_progress}"
                                         aria-valuemin="0" aria-valuemax="100">${task1_progress}%
                                    </div>
                                </div>
                            </div>

                            <div class="tasksLine">
                                <p class="card-text">${task2_name}</p>

                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar " role="progressbar" style="width: ${task2_progress}%;" aria-valuenow="${task2_progress}"
                                         aria-valuemin="0" aria-valuemax="100">${task2_progress}%
                                    </div>
                                </div>
                            </div>

                            <div class="tasksLine">
                                <p class="card-text">${task3_name}</p>

                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar " role="progressbar" style="width: ${task3_progress}%;" aria-valuenow="${task3_progress}"
                                         aria-valuemin="0" aria-valuemax="100">${task3_progress}%
                                    </div>
                                </div>
                            </div>

                            <div class="tasksLine">
                                <p class="card-text">${task4_name}</p>

                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar " role="progressbar" style="width: ${task4_progress}%;" aria-valuenow="${task4_progress}"
                                         aria-valuemin="0" aria-valuemax="100">${task4_progress}%
                                    </div>
                                </div>
                            </div>

                            <div class="tasksLine">
                                <p class="card-text">${task5_name}</p>
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar " role="progressbar" style="width: ${task5_progress}%;" aria-valuenow="${task5_progress}"
                                         aria-valuemin="0" aria-valuemax="100">${task5_progress}%
                                    </div>
                                </div>
                            </div>

                            <Br>

                            <a id="btn-update-box" href="#" class="btn btn-primary" onclick="editProject('${title}')">Update!</a>

                        </div>
</div>`
                                        $("#proj").append(temphtml)

                                    }

                                }

                            }
                        })

                    }


        </script>

        <title>프로젝트 완성하기 _ 스코코10 _ 이숮이</title>
    </head>

    <body>
        <div class="wrap">
            <div class="jumbotron">
                <h2 class="display-4">Where Am I?</h2>
                <p class="lead">자기 과제의 진척률을 관리하세요.</p>
                <hr class="my-4">
                <p> 내가 얼마나 달성했는지 한 눈에 볼 수 있어요.</p>
                <button onclick="openClose()" id="btn-post-box" type="button" class="btn btn-primary">만들기
                </button>
            </div>

            <div id="post-box" class="post-box" style="display:none">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">프로젝트명</span>
                    </div>
                    <input id="title" type="text" class="form-control" aria-label="Default"
                           aria-describedby="inputGroup-sizing-default">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">시작일</span>
                    </div>
                    <input id="startDate" type="date" class="form-control" aria-label="Default"
                           aria-describedby="inputGroup-sizing-default">
                    <div class="input-group-prepend">
                        <span class="input-group-text">완료일</span>
                    </div>
                    <input id="endDate" type="date" class="form-control" aria-label="Default"
                           aria-describedby="inputGroup-sizing-default">

                </div>


                <div class="input-group-prepend">
                    <span class="input-group-text">세부과제1</span>
                    <input id="task1Title" type="text" class="form-control" aria-label="Default"
                           aria-describedby="inputGroup-sizing-default">

                    <select class="custom-select" id="task1Progress">
                        <option selected>진행상태를 선택하세요!</option>
                        <option value="0">0</option>
                        <option value="20">20</option>
                        <option value="40">40</option>
                        <option value="60">60</option>
                        <option value="80">80</option>
                        <option value=100>100</option>
                    </select>
                    <div class="input-group-append">
                        <label class="input-group-text" for="task1Progress">%</label>
                    </div>
                </div>

                <div class="input-group-prepend">
                    <span class="input-group-text">세부과제2</span>
                    <input type="text" class="form-control" aria-label="Default" id="task2Title"
                           aria-describedby="inputGroup-sizing-default">
                    <select class="custom-select" id="task2Progress">
                        <option selected>진행상태를 선택하세요!</option>
                        <option value="0">0</option>
                        <option value="20">20</option>
                        <option value="40">40</option>
                        <option value="60">60</option>
                        <option value="80">80</option>
                        <option value=100>100</option>
                    </select>
                    <div class="input-group-append">
                        <label class="input-group-text" for="task1Progress">%</label>
                    </div>
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text">세부과제3</span>
                    <input type="text" class="form-control" aria-label="Default" id="task3Title"
                           aria-describedby="inputGroup-sizing-default">
                    <select class="custom-select" id="task3Progress">
                        <option selected>진행상태를 선택하세요!</option>
                        <option value="0">0</option>
                        <option value="20">20</option>
                        <option value="40">40</option>
                        <option value="60">60</option>
                        <option value="80">80</option>
                        <option value=100>100</option>
                    </select>
                    <div class="input-group-append">
                        <label class="input-group-text" for="task1Progress">%</label>
                    </div>
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text">세부과제4</span>
                    <input type="text" class="form-control" aria-label="Default" id="task4Title"
                           aria-describedby="inputGroup-sizing-default">
                    <select class="custom-select" id="task4Progress">
                        <option selected>진행상태를 선택하세요!</option>
                        <option value="0">0</option>
                        <option value="20">20</option>
                        <option value="40">40</option>
                        <option value="60">60</option>
                        <option value="80">80</option>
                        <option value=100>100</option>
                    </select>
                    <div class="input-group-append">
                        <label class="input-group-text" for="task4Progress">%</label>
                    </div>
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text">세부과제5</span>
                    <input type="text" class="form-control" aria-label="Default" id="task5Title"
                           aria-describedby="inputGroup-sizing-default">
                    <select class="custom-select" id="task5Progress">
                        <option selected>진행상태를 선택하세요!</option>
                        <option value="0">0</option>
                        <option value="20">20</option>
                        <option value="40">40</option>
                        <option value="60">60</option>
                        <option value="80">80</option>
                        <option value=100>100</option>
                    </select>
                    <div class="input-group-append">
                        <label class="input-group-text" for="task5Progress">%</label>
                    </div>
                </div>

                <br>
                <button type="button" id="btn-update" class="btn btn-outline-dark" onclick="postProject()">만들기</button>
                <button type="button" id="btn-cancel" class="btn btn-outline-dark" onclick="cancelBox()">취소</button>


            </div>


            <div class="row">
                <!--                <div class="projectBox col-sm-6">-->
                <div class="projectBox">
                    <div class="card-columns" id="proj">
                        <div class="card">
                            <div id="card-body" class="card-body">
                                <h5 class="card-title">프로젝트1</h5>
                                <h6>완료까지 <b style="color: coral">5</b>일 남았어요!</h6>


                                <div class="progress" style="height: 1px;">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <div class="tasksLine">
                                    <p class="card-text">1st</p>

                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar " role="progressbar" style="width: 20%;"
                                             aria-valuenow="20"
                                             aria-valuemin="0" aria-valuemax="100">20%
                                        </div>
                                    </div>
                                </div>

                                <div class="tasksLine">
                                    <p class="card-text">2rd</p>

                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar " role="progressbar" style="width: 20%;"
                                             aria-valuenow="20"
                                             aria-valuemin="0" aria-valuemax="100">20%
                                        </div>
                                    </div>
                                </div>

                                <div class="tasksLine">
                                    <p class="card-text">3rd</p>

                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar " role="progressbar" style="width: 20%;"
                                             aria-valuenow="20"
                                             aria-valuemin="0" aria-valuemax="100">20%
                                        </div>
                                    </div>
                                </div>

                                <div class="tasksLine">
                                    <p class="card-text">4th</p>

                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar " role="progressbar" style="width: 20%;"
                                             aria-valuenow="20"
                                             aria-valuemin="0" aria-valuemax="100">20%
                                        </div>
                                    </div>
                                </div>

                                <div class="tasksLine">
                                    <p class="card-text">5th</p>
                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar " role="progressbar" style="width: 20%;"
                                             aria-valuenow="20"
                                             aria-valuemin="0" aria-valuemax="100">20%
                                        </div>
                                    </div>
                                </div>

                                <Br>

                                <a href="#" class="btn btn-primary">Update!</a>

                            </div>


                        </div>
                    </div>
                </div>

            </div>


        </div>
    </body>
</html>